/* Buttons */
#getStartedButton {
    -fx-background-color: #3b82f6;
}

#getStartedButton:hover {
    -fx-background-color: #60a5fa;
}

.button {
    -fx-background-color: #18181b;
}

.button:hover {
    -fx-background-color: #3f3f46;
}

/* Buttons */

/* List View */
.list-view .list-cell:even {
    -fx-background-color: #27272a;
    -fx-text-fill: white;
}

.list-view {
    -fx-font-size: 18px
}

.list-view .list-cell:odd {
    -fx-background-color: #18181b;
    -fx-text-fill: white;
}

/* List View */

.label {
    -fx-font-color: white;
}

.anchorpane {
    -fx-background-color: #60a5fa;
}

.split-pane *.split-pane-divider {
    -fx-background-color: #6f6f77;
}